body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 45px;
}
h2{
    font-size: 36px;}
h1 span{
    font-size: 50px;
    color: rgb(255, 102, 0);
    font-weight: 600;
}
section{
    margin-bottom: 80px;
}
.flexible-container{
    display: flex;
}
.half-width p{
    text-align: justify;
    color: rgba(78, 76, 76, 0.911);
}
.half-width{
    width: 50%;
    padding: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    color: white;
    padding: 10px 40px;
    font-weight: 700;
    border-radius: 5px;
    text-transform: uppercase;
}
.top-banner{
    background-image: url(./image/top-banner.png);
    background-repeat: no-repeat;

}
.dream-bg{
    background-image: url(./image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.dream-details{
    margin-right: 10%;
}
.experience-area{
    background-image: url(./image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.orange-color{
    color: rgb(255, 115, 0);
}
.experience-item{
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px gray;
    
}
#full-stack-dev-exp{
    border-left: 7px solid;
    border-image: linear-gradient(purple, red);
    border-image-slice: 1; 
}
#web-dev-experience{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;   
}
footer p{
    text-align: center;
    color: rgb(90, 88, 88);
}